@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
:root {
  --dark-shadow: #1c1c1c; /* dark grey for shadow */
  --blue-theme: #003366; /* primary deep blue for background */
  --light-shadow: #f0f0f0; /* light grey for soft highlights */
  --text-color: #ffffff; /* white text for contrast */
  --action-color: #ff6600; /* motivational orange for interactions */
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  font-weight: 600;
  display: flex;
  background: var(--blue-theme);
  color: var(--text-color);
  align-items: center;
  justify-content: center;
}

.sign-div {
  width: 90%; /* Use a percentage for responsiveness */
  max-width: 380px; /* Set a maximum width for larger screens */
  padding: 45px 35px;
  border-radius: 40px;
  box-shadow: 10px 10px 20px var(--light-shadow),
    -10px -10px 20px var(--dark-shadow);

  /* Updated gradient with a lighter green and smoother transition */
  background: linear-gradient(135deg, #003366, #8bc34a, #ff6600);
  background-size: 400% 400%; /* Increase for smoother animation */
  animation: gradientShift 6s ease infinite;
}

/* Keyframes for the gradient animation */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Media query for mobile view */
@media (max-width: 480px) {
  .sign-div {
    /* Add box shadow to both sides for mobile view */
    box-shadow: 10px 0 20px var(--light-shadow), -10px 0 20px var(--dark-shadow),
      0 10px 20px var(--light-shadow), 0 -10px 20px var(--dark-shadow);
  }
}

.logo {
  background: url("../img/logo-no-background.png");
  width: 100px;
  height: 100px;
  background-size: cover;
  margin: 0 auto;
  box-shadow: 0 0 2px var(--light-shadow), 0 0 5px var(--dark-shadow),
    8px 8px 15px var(--light-shadow), -8px -8px 15px var(--dark-shadow);
  border-radius: 50%;
}

.title {
  text-align: center;
  font-size: 28px;
  color: var(--text-color);
  text-shadow: 8px 8px 15px var(--light-shadow),
    -8px -8px 15px var(--dark-shadow);
  padding-top: 24px;
  margin-bottom: 20px;
}

.login-in {
  width: 100%;
  padding: 60px 5px 5px 5px;
}

.sign-up {
  width: 100%;
  padding: 7px 5px 5px 5px;
}

.login-in input,
.sign-up input {
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  background: none;
  font-size: 18px;
  color: var(--text-color);
  padding: 18px 10px 18px 1px;
}

/*label added by sachin*/
.sign-up .input-label {
  color: var(--text-color);
  margin-inline-start: 20px;
  font-weight: lighter;
}

.username,
.password {
  box-shadow: inset 5px 5px 8px var(--light-shadow),
    inset -5px -5px 8px var(--dark-shadow);
  border-radius: 50px;
  margin-bottom: 30px;
  margin-top: 5px;
}

.username::placeholder,
.password::placeholder {
  color: rgba(
    35,
    34,
    34,
    0.8
  ); /* Lighten the color and add some opacity for better visibility */
  font-family: "Poppins", sans-serif;
}

.login-in .lni,
.sign-up .lni {
  height: 22px;
  color: var(--text-color);
  margin: 0 10px -3px 25px;
  font-size: 18px;
}

.buttons {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: var(--blue-theme);
  height: 60px;
  border-radius: 30px;
  color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
  box-shadow: 5px 5px 8px var(--light-shadow), -5px -5px 8px var(--dark-shadow);
  position: relative; /* Position relative for the floating text */
}

.buttons:hover {
  background: var(--action-color);
  color: black;
}

.buttons:active {
  background: var(--action-color);
}

/* Floating and revolving text around the button */

a {
  text-decoration: none;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

.link {
  padding: 20px;
  text-align: center;
}

.link a {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 600;
}

.link a:hover {
  color: #000;
}

.homeback {
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  align-items: center !important;
  justify-content: center !important;
  display: flex;
}

.homebox {
  width: 380px;
  padding: 45px 35px 35px 35px;
}

.success-check {
  color: #692729;
  margin: 0 auto;
}

.success-check i {
  font-size: 3rem;
}

img {
  width: 100%;
}

/* Neomorphic Styles for Radio Buttons */
.form-check {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px var(--light-shadow),
    -5px -5px 10px var(--dark-shadow);
}

.form-check-input {
  appearance: none;
  color: var(--blue-theme);
  background-color: var(--blue-theme);
  box-shadow: inset 4px 4px 4px var(--dark-shadow),
    inset -4px -4px 4px var(--light-shadow);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.form-check-input:checked {
  appearance: none;
  border-radius: 50%;
  box-shadow: inset 4px 4px 4px var(--light-shadow),
    inset -4px -4px 4px var(--dark-shadow);
}

.form-check-input:checked::before {
  content: "\2713";
  font-size: 16px;
  font-weight: bold;
  color: var(--action-color);
  margin-left: 10px;
}

.form-check-input:checked::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radiogroup {
  padding-top: 14px;
  border-radius: 16px;
  background: var(--blue-theme);
  margin-bottom: 20px;
  box-shadow: 4px 4px 4px 0px var(--light-shadow) inset,
    -4px -4px 4px 0px var(--dark-shadow) inset;
}

.wrapper {
  margin: 8px 0;
}

.state {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1e-5;
  pointer-events: none;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: var(--text-color);
}

.text {
  margin-left: 16px;
  opacity: 0.6;
  transition: opacity 0.2s linear, transform 0.2s ease-out;
}

.indicator {
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: red;
  background-color: green;
  box-shadow: -8px -4px 8px 0px var(--light-shadow),
    8px 4px 12px 0px var(--dark-shadow);
  overflow: hidden;
}

.indicator::before,
.indicator::after {
  background-color: var(--blue-theme);
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.indicator::before {
  background-color: var(--blue-theme);
  box-shadow: -4px -2px 4px 0px var(--light-shadow),
    4px 2px 8px 0px var(--dark-shadow);
}

.indicator::after {
  background-color: var(--blue-theme);
  box-shadow: -4px -2px 4px 0px var(--light-shadow),
    4px 2px 8px 0px var(--dark-shadow);
  transform: scale3d(1, 1, 1);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.state:checked ~ .label .indicator::after {
  transform: scale3d(0.975, 0.975, 1);
  opacity: 0;
}

.state:focus ~ .label .text {
  transform: translate3d(8px, 0, 0);
  opacity: 1;
}

.label:hover .text {
  opacity: 1;
}
